@page
@model IndexModel
@{
    ViewData["Title"] = "Tax Calculator";
}

<h2 class="display-4">Tax Calculator</h2>

<form method="post" class="form-horizontal">
    <div class="form-group">
        <label for="PostalCode" class="control-label col-sm-3">Postal Code</label>
        <div class="col-sm-8">
            <select name="PostalCode" class="form-control" asp-for="PostalCode">
                <option value="0">Please Select Postal Code</option>
                @foreach (var item in Model.PostalCodeTaxes)
                {
                    <option value="@item.PostalCode">@item.PostalCode</option>
                }
            </select>
        </div>
    </div>

    <label for="AnnualIncome" class="control-label col-sm-3">Annual Income</label>
    <div class="col-sm-8">
        <input type="text" asp-for="AnnualIncome" class="form-control" />
    </div>

    <div class="col-sm-offset-2 col-sm-8">
        <input type="submit" value="Calculate Tax" class="btn btn-default" />
    </div>

    <label for="TaxAmount" class="control-label col-sm-3">Tax Amount</label>
    <div class="col-sm-8">
        <input type="text" asp-for="TaxAmount" class="form-control" />
    </div>
</form>