@page
@model IndexModel
@{
    ViewData["Title"] = "Tax Calculator";
}

<h2 class="display-4">Tax Calculator</h2>

<form method="post" class="form-horizontal">
    <div class="form-group">
        <label for="PostalCode" class="control-label col-sm-3">Postal Code</label>
        <div class="col-sm-8">
            <select name="PostalCode" class="form-control" asp-for="PostalCode">
                @foreach (var postalCode in Model.PostalCodesList)
                {
                    <option value="@postalCode">@postalCode</option>
                }
            </select>
        </div>
    </div>

    <label for="AnnualIncome" class="control-label col-sm-3">Annual Income</label>
    <div class="col-sm-8">
        <input type="text" asp-for="AnnualIncome" class="form-control" />
    </div>

    <div class="col-sm-offset-2 col-sm-8">
        <br />
        <input type="submit" value="Calculate Tax" class="btn btn-primary mr-1" />

    </div>

    @if (Model.TaxAmount > 0)
    {
        <br />
        <label for="TaxAmount" class="control-label col-sm-3">Caluclated Tax Amount:</label>
        <div class="col-sm-8">
            <input type="text" asp-for="TaxAmount" class="form-control" value="@Model.TaxAmount" readonly />
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.TaxCalculationTypeUsed))
    {
        <br />
        <label for="TaxCalculationTypeUsed" class="control-label col-sm-3">Tax Calculation Type Used:</label>
        <div class="col-sm-8">
            <input type="text" asp-for="TaxCalculationTypeUsed" class="form-control" value="@Model.TaxCalculationTypeUsed"
                readonly />
        </div>
    }
</form>